<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>{% block title %}{% endblock%}</title>
</head>

<body>

  <div id="nav">
    the 3d print failure library
    <span class="nav-links">
      {% if not session['user_id'] %}<a href="/register">register</a> or <a href="/login">login</a>
      {% else %}<a href="/logout">logout</a>{% endif %}
    </span>
  </div>

  <div id="flashed-msgs">
    {% for message in get_flashed_messages() %}{{ message }}
    {% endfor %}
  </div>

  <div id="main">
    {% block content %} {% endblock %}
  </div>

  <!-- <script src="/static/app.js"></script> -->
</body>

</html>
