{% extends 'base.html'  %}
{% block title %}3d print failure library{% endblock %}

{% block content %}

<form method="GET" id="postsfilter">
<div class="autocomplete"><input placeholder="printer" id="postsfilter-printer" name="printer" value="{{ filter.printer if filter.printer }}"></div>
<div class="autocomplete"><input placeholder="filament"id="postsfilter-filament" name="filament" value="{{ filter.filament if filter.filament }}"></div>
<button>filter</button><a href="/posts">clear</a>
</form><br>
<table id="posts">
  {% for (post, votecount) in posts %}
  <tr>
    <td class="td-sm"><a href="/posts/{{ post.id }}">{{ post.printer.model }}</a></td>
    <td class="td-sm"><a href="/posts/{{ post.id }}">{{ post.filament.type }}</a></td>
    <td class="td-lg"><a href="/posts/{{ post.id }}">{{ post.failure }}</a></td>
    <td class="td-lg"><a href="/posts/{{ post.id }}">{{ post.solution }}</a></td>
    <td class="td-exsm">{{ votecount }}</td>
  </tr>
  {% endfor %}
</table>

<script>

  async function addAutocompletes() {
    await getList('printer','model');
    await getList('filament','type');
    autocomplete(document.getElementById('postsfilter-printer'),list.printer.model)
    autocomplete(document.getElementById('postsfilter-filament'),list.filament.type)
  }

  addAutocompletes()

</script>



{% endblock %}
